.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(item-1.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(item-2.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(item-3.jpg);
}
